.Sidebar {
  flex: 1;
  min-height: 100vh;
  background-color: white; /*Belu boju stavljamo zbog dark moda*/

  .sidebar-active {
    display: block;
  }

  .sidebar-inactive {
    display: none;
  }

  .sidebar-toggle-logo-active {
    margin-left: 200px;
  }
  .top {
    height: 50px; /*Trenutno */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    display: flex;
    align-self: center;
    font-size: 20px;
    font-weight: bold;
    color: #294adf;
  }
  .sidebar-toggle {
    display: flex;
    justify-content: flex-start;
  }
  .sidebar-toggle-logo {
    top: 0;
    margin-top: 8px;
    display: flex;
    align-items: center;
    position: fixed;
    font-size: 35px;
  }

  hr {
    height: 0;
    border: 0.5px solid rgb(228, 224, 224);
  }

  .center {
    padding-left: 10px;
  }
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  .title {
    font-size: 10px;
    font-weight: bold;
    color: #999;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  li {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  ul li:hover {
    padding-left: 30px;
    background-color: #ece8ff;
  }
  .icon-active {
    background-color: #ece8ff;
    color: var(--color-primary);
  }
  .icon-active:before {
    content: "";
    width: 5px;
    height: 3.5%;
    left: 10px;
    position: absolute;
    background-color: #294adf;
  }
  .icon {
    font-size: 18px;
    color: #294adf;
  }
  span {
    font-size: 13px;
    font-weight: 600;
    color: #888;
    margin-left: 10px;
  }
  .bottom {
    display: flex;
    align-items: center;
    margin: 10px;
  }
  .colorOption {
    width: 20px;
    height: 20px;
    border: 1px solid #333;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;

    &:nth-child(1) {
      background-color: whitesmoke;
    }
    &:nth-child(2) {
      background-color: #333;
    }
  }
  .bottom-active {
    display: block;
  }

  .bottom-inactive {
    display: none;
  }
}

// MEDIA QUERIES FOR TABLET
@media screen and (max-width: 1024px) {
  .Sidebar {
    margin-right: 30px;
  }
  .center sidebar-active {
    background-color: red;
  }
}
